@import "../../00-atoms/images/chess-images";
@import "../../00-atoms/images/chess_image-holder";
@import "../../00-atoms/text/chess-holder2_para";
@import "../../00-atoms/text/chess-holder2_text";
@import "../../00-atoms/text/holder4-text";

.holder2 {
    .btn-info {
        top: 450px !important;
        left: 100px !important;
    }
}


@media (min-width: 1200px) {
    .holder2 {
        .btn-info {
            padding: 15px 20px 15px 20px !important;
            top: 15px;
            left: 50px;
            z-index: 950;
        }
    }
}